0 0         * * * /root/sync-backups.sh
0 1         * * * /root/snapshot-backups.sh
0 2         * * 6 /root/scrub-roots.sh
0 5         * * 6 /root/scrub-roots-finished.sh
0 8         * * 2 /root/update_pkgs.sh
0 8         * * 5 /root/update_pkgs.sh
